$mont-r: 'Montserrat', sans-serif;
$mont-sb: 'Montserrat-SemiBold', sans-serif;
$mont-b: 'Montserrat-Bold', sans-serif;
$mont-i: 'Montserrat-Italic', sans-serif;
$phil-b: 'Philosopher-Bold', serif;

$text-color-light-1: #fff3e1;
$text-color-light-2: #fff5c9;
$text-color-transparent: transparent;
$text-color-dark-1: #2a2927;
$text-color-dark-2: #7c7c7c;
$border-color: #fa742b;
$bg-color: rgba(163, 98, 51, 0.102);
$border-danger: #dc3545;
$bg-color-menu: #000000c9;

$gradient: linear-gradient(to left, #fa742b 0%, #ffd61e 100%);